<%- include('../header') %>

    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Form Basic</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card">

                        <% if(locals.success !="" ) { %>
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <%= locals.success %>
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                            <% } %>

                                <form action="/exsubcategory/add" method="post" class="form-horizontal">
                                    <div class="card-body">
                                        <h4 class="card-title">Add Exsubcategory</h4>


                                        <div class="form-group row">
                                            <label for="fname"
                                                class="col-sm-3 text-end control-label col-form-label">Category</label>
                                            <div class="col-sm-9">
<<<<<<< HEAD
                                                <select onchange="getCategory()" id="category" name="category"
                                                    class="form-control">
                                                    <option value="">---select category---</option>
                                                    <% category.map((cat)=>{ %>
                                                        <option value="<%= cat._id %>">
                                                            <%= cat.category %>
                                                        </option>
                                                        <% }) %>
=======
                                                <select name="category" class="form-control">
                                                    <option value="">---select category---</option>
                                                    <% category.map((val)=>{ %>
                                                        <option value="<%= val._id %>"><%= val.category %></option>
                                                    <% }) %>
>>>>>>> 1ef72f0d4ada19081cd92d67eb69fdf12e1f19dc
                                                </select>
                                            </div>
                                        </div>

                                         <div class="form-group row">
                                            <label for="fname"
                                                class="col-sm-3 text-end control-label col-form-label">Subcategory</label>
                                            <div class="col-sm-9">
<<<<<<< HEAD
                                                <select id="subcategory" name="subcategory" class="form-control">
                                                    <option value="">---select subcategory---</option>
                                                </select>
                                            </div>
                                        </div>

=======
                                                <select name="subcategory" class="form-control">
                                                    <option value="">---select subcategory---</option>
                                                    <% subcategory.map((val)=>{ %>
                                                        <option value="<%= val._id %>"><%= val.subcategory %></option>
                                                    <% }) %>
                                                </select>
                                            </div> 
                                        </div>


>>>>>>> 1ef72f0d4ada19081cd92d67eb69fdf12e1f19dc
                                        <div class="form-group row">
                                            <label for="fname"
                                                class="col-sm-3 text-end control-label col-form-label">Exsubcategory</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="exsubcategory" class="form-control" id="fname"
                                                    placeholder="Exsubcategory Name Here" />
<<<<<<< HEAD
                                            </div>
=======
                                            </div> 
>>>>>>> 1ef72f0d4ada19081cd92d67eb69fdf12e1f19dc
                                        </div>

                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="submit" class="btn btn-primary">
                                                Submit
                                            </button>
                                            <a href="/exsubcategory" class="btn btn-info">View</a>
                                        </div>
                                    </div>
                                </form>
                    </div>


                </div>

            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by
            <a href="https://www.wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript">

        const getCategory = () => {
            let category = document.getElementById('category').value;
            $.ajax({
                type: 'GET',
                url: `/exsubcategory/category?id=${category}`,
                success: function (res) {
                    let tbl = "";
                    if (res.categorydata.length != 0) {
                        res.categorydata.map((val) => {
                            tbl += `
                                     <option value="">
                                        ${val.subcategory}
                                    </option>
                              `
                        })
                    } else {
                        tbl += ` <option value="">---select subcategory---</option>`;
                    }
                    document.getElementById('subcategory').innerHTML = tbl;
                }
            })
        }


    </script>
    <%- include('../footer') %>