<%- include('../header') %>
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Tables</h4>
                    <div class="ms-auto text-end">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Library
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <h5 class="card-title">Table</h5>
                                <a href="/exsubcategory/add" class="btn btn-success">Add</a>
                            </div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Subcategory</th>
                                    <th scope="col">Exsubcategory</th>
<<<<<<< HEAD
                                </tr>
                            </thead>
                            <tbody>
                                <% exsubcategory.map((exsub,i)=>{ %>
                                    <tr>
                                        <th scope="row">
                                            <%= ++i %>
                                        </th>
                                        <td>
                                            <%= exsub.categoryId.category %>
                                        </td>
                                        <td>
                                            <%= exsub.subcategoryId.subcategory %>
                                        </td>
                                        <td>
                                            <%= exsub.exsubcategory %>
                                        </td>
                                    </tr>
                                    <% }) %>
=======
                                    <th scope="col">Status</th>

                                </tr>
                            </thead>
                            <tbody>

                                <% exsubcat.map((excat,i)=>{ %>
                                    <tr>
                                        <th scope="row"><%= ++i %></th>
                                        <td><%= excat.categoryId.category %></td>
                                        <td><%= excat.subcategoryId.subcategory %></td>
                                        <td><%= excat.exsubcategory %></td>
                                        <td>
                                            <a href="" class="btn btn-success btn-sm"><%= excat.status %></a>
                                        </td>
                                    </tr>
                                <% }) %>
                                
                                
>>>>>>> 1ef72f0d4ada19081cd92d67eb69fdf12e1f19dc
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by
            <a href="https://www.wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>

    <%- include('../footer') %>